{% extends "account/base.html" %}
{% load static %}
{% block content %}
    <div class='top' style="border-bottom: 2px solid black ;">
        <a href="#">
            <button class='participants' onclick="buttonclick();"> 
                <img src="{% static 'images/people.png' %}" alt="">
                {{classroom.students.count}} Students
            </button>

        </a>
        <h1 class='heading' style="font-size: 26px ;border-bottom: 2px solid black;"> {{classroom.subject}} </h1>
        <div id="menu" class="menuOff"> 
            {% if user == classroom.host %}
            <form method="POST" style="display: flex;align-items: center;" class="loginform" action="{% url 'add_participants' pk=classroom.id %}">
                {% csrf_token %}
                {{ form.students }}
                    <button type="submit" style="margin: 0;padding: 0;" class="participants_button"><img src="{% static 'images/plus.png' %}" alt=""></button>
            </form>
            {% endif %}
            <div class="students_list">
                {% for student in students %}
                    {% if student|lower == classroom.host|lower %}
                        <p>{{student}}(Teacher)</p>
                    {% else %}
                        <p>{{student}}</p>
                    {% endif %}    
                {% endfor %}
            </div>
            
        </div> 
        {% if user == classroom.host %}
        <a href="{% url 'create_assignment' pk=classroom.id %}">
            <button class='createbutton'>Post a Question</button>
        </a>
        {% endif %}
    </div>
    <div class="questions">
        <div class="allquestions">
            <h2 class="questions_heading">All Questions</h2>
            <div class="question-list">
                {% for assignment in assignments %}
                    <div class="question">
                        <div class="question-header">
                            <p class="tag">Due date & time  :  {{assignment.due_time  }}   {{assignment.due_date}}</p>
                            <div style="display: flex;margin:0px;">
                                <p class="tag"> <span class="status-dot" > {{assignment.status}} </span> {{assignment.status}} </p>
                                <p class="tag"> <span class="type-dot" >{{assignment.type}}</span>  {{assignment.type}} </p>
                                {% if user == assignment.class_in.host %}
                                    <button class='delete'><a href="{% url 'delete_assignment' pk=assignment.id %}">X</a></button>
                                {% endif %}
                            </div>
                        </div>
                        <p class="question-name">{{assignment.question}} <a href="{% url 'question' pk=assignment.id %}" style="text-decoration: none;"> >> Read more</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ongoingquestions">
            <h2 class="questions_heading">Ongoing Questions</h2>
            <div class="ongoing-questions-list">
                {% for ongoing_assignment in ongoing_assignments %}
                    <div class="ongoing-question">
                        <div class="question-header">
                            <p class="tag">Due : {{ongoing_assignment.due_time  }}   {{ongoing_assignment.due_date}}</p>
                            <div style="display: flex;margin:0px;">
                                <p class="tag"> <span class="type-dot" >{{ongoing_assignment.type}}</span> {{ongoing_assignment.type}} </p>
                            </div>
                        </div>
                        <p class="question-name">{{ongoing_assignment.question}} <a href="{% url 'question' pk=ongoing_assignment.id %}" style="text-decoration: none;"> >> Read more</a></p>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
<script>
    function buttonclick()    
    {    
        var menuList = document.getElementById("menu");    
        if (menuList.className == "menuOff")    
        {    
        
            menuList.className = "menuOn";    
        } else    
        {    
        
            menuList.className = "menuOff";    
        }    
    }  
    var status_dots = Array.from(document.getElementsByClassName('status-dot'));
    var dots = Array.from(document.getElementsByClassName('type-dot'));
    status_dots.forEach(dot => {
        console.log(dot.innerHTML)
        console.log(typeof(dot.innerHTML))
        console.log(typeof('ongoing'))
        if(dot.innerHTML.trim()=='ongoing'){
            dot.style.backgroundColor = "rgb(61, 216, 72)";
        }
        if(dot.innerHTML.trim()=='completed'){
            dot.style.backgroundColor = 'red';
        }
        dot.innerHTML=""
    });
    dots.forEach(dot => {
        if(dot.innerHTML=="poll"){
            dot.style.backgroundColor = 'cyan';
        }
        if(dot.innerHTML=="post"){
            dot.style.backgroundColor = 'violet';
        }
        if(dot.innerHTML=="assignment"){
            dot.style.backgroundColor = 'sandybrown';
        }
        dot.innerHTML=""
    });
</script>
{% endblock %}