{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Create Class" %}{% endblock %}


{% block content %}
<div class="centereddiv">
    <h1>{% trans "Create Class" %}</h1>
    <form method="post" action="{% url 'create_class' %}" class="loginform">
        {% csrf_token %}
            <label >{{form.subject.label}}</label>
            {{form.subject}}
            <label >{{form.classname.label}}</label>
            {{form.classname}}
            <button type="submit",name="save" class="button" >Create Class</button>
    </form>
</div>
{% endblock %}