{% extends "account/base.html" %}
{% load static %}
{% block content %}

<div class='home'>
    <div class='top'>
        <h1 class='heading'>Hello, {{user.username}}</h1>
        <button class='createbutton'>Create Classroom</button>
    </div>
    <div class='class'>
        <h1 class='heading'>My Classes</h1>
        <div class='classes'>
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
            
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            
        </div>
    </div>
    <div class='class'>
        <h1 class='heading'>Classes you are in</h1>
        <div class='classes'>
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <h1 class='card-name'>Python</h1>
                    <h3 class='card-info'>CSE - 2</h3>
                    <h2 class='card-info'>Sanoop Kumar</h2>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock content %}