{% extends "account/base.html" %}
{% load static %}
{% block content %}

<div class='home'>
    <div class='top'>
        <h1 class='heading' style="font-size: 22px ;border-bottom: 2px solid black;"> >Hello, {{user.username}} </h1>
        <button class='createbutton'>Create Classroom</button>
    </div>
    <div class='class'>
        <h1 class='heading' style="font-size: 28px ;">My Classes</h1>
        <div class='classes'>
            <div class='card'> 
                <div class='card-header'>
                    <div>
                        <h1 class='card-name'>Python</h1>
                        <h2 class='card-info'>CSE - 2</h3>
                        <h3 class='card-info'>Sanoop Kumar</h2>
                    </div>
                    <div class="container" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <div>
                        <h1 class='card-name'>Python</h1>
                        <h2 class='card-info'>CSE - 2</h3>
                        <h3 class='card-info'>Sanoop Kumar</h2>
                    </div>
                    <div class="container" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <div>
                        <h1 class='card-name'>Python</h1>
                        <h2 class='card-info'>CSE - 2</h3>
                        <h3 class='card-info'>Sanoop Kumar</h2>
                    </div>
                    <div class="container" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <div>
                        <h1 class='card-name'>Python</h1>
                        <h2 class='card-info'>CSE - 2</h3>
                        <h3 class='card-info'>Sanoop Kumar</h2>
                    </div>
                    <div class="container" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <div>
                        <h1 class='card-name'>Python</h1>
                        <h2 class='card-info'>CSE - 2</h3>
                        <h3 class='card-info'>Sanoop Kumar</h2>
                    </div>
                    <div class="container" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <div>
                        <h1 class='card-name'>Python</h1>
                        <h2 class='card-info'>CSE - 2</h3>
                        <h3 class='card-info'>Sanoop Kumar</h2>
                    </div>
                    <div class="container" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <div>
                        <h1 class='card-name'>Python</h1>
                        <h2 class='card-info'>CSE - 2</h3>
                        <h3 class='card-info'>Sanoop Kumar</h2>
                    </div>
                    <div class="container" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
            <div class='card'> 
                <div class='card-header'>
                    <div>
                        <h1 class='card-name'>Python</h1>
                        <h2 class='card-info'>CSE - 2</h3>
                        <h3 class='card-info'>Sanoop Kumar</h2>
                    </div>
                    <div class="container" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
                        
        </div>
    </div>
    <div class='class'>
        <h1 class='heading' style="font-size: 28px ;">Classes you are in</h1>
        <div class='classes'>
            <div class='card'> 
                <div class='card-header'>
                    <div>
                        <h1 class='card-name'>Python</h1>
                        <h2 class='card-info'>CSE - 2</h3>
                        <h3 class='card-info'>Sanoop Kumar</h2>
                    </div>
                    <div class="container" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="dropdown-content">
                            <a href="#">Share</a>
                            <a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </div>
                <div class='card-tail'>
                    <img src="{% static 'images/people.png' %}" alt="">
                    <h4>60 participants</h4>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

<script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
</script>

{% endblock content %}