{% extends "account/base.html" %}
{% load static %}
{% block content %}

<div class='home'>
    <div class='top'>
        <h1 class='heading' style="font-size: 22px ;border-bottom: 2px solid black;"> >Hello, {{user.username}} </h1>
        <a href="{% url 'create_class' %}">
            <button class='createbutton'>Create Classroom</button>
        </a>
    </div>
    <div class='class'>
        <div style="display: flex;justify-content:space-between;align-items: center;">
            <h1 class='heading' style="font-size: 28px;">My Classes</h1>
        </div>
        <div class='classes'>
            {% for classroom in classes %}
                <div class='card'> 
                    <div class='card-header'>
                        <div>
                            <div class='card-heading'>
                                <a href="{% url 'classroom' pk=classroom.id %}" class='card-link' title='{{ classroom.subject }}'>
                                    {{classroom.subject}}
                                </a>
                            </div>
                            <h2 class='card-info'>{{classroom.classname}}</h3>
                            <h3 class='card-info'>{{classroom.host}}</h2>
                        </div>
                        {% if user == classroom.host %}
                            <div class="container" onclick="myFunction(this)">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                                <div class="dropdown-content">
                                    <a href="#">{{classroom.host}}</a>
                                    <a href="{% url 'delete_class' pk=classroom.id %}">Delete</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class='card-tail'>
                        <img src="{% static 'images/people.png' %}" alt="">
                        <h4>{{ classroom.students.count }} Students</h4>
                    </div>
                </div>
            {% endfor %}
                        
        </div>
    </div>
    <div class='class'>
        <h1 class='heading' style="font-size: 28px;">Classes you are in</h1>
        <div class='classes'>
            {% for classroom in classes_you_are_in %}
                <div class='card'> 
                    <div class='card-header'>
                        <div>
                            <div class='card-heading'>
                                <a href="{% url 'classroom' pk=classroom.id %}" class='card-link' title='{{ classroom.subject }}'>
                                    {{classroom.subject}}
                                </a>
                            </div>
                            <h2 class='card-info'>{{classroom.classname}}</h3>
                            <h3 class='card-info'>{{classroom.host}}</h2>
                        </div>
                        {% if user == classroom.host %}
                            <div class="container" onclick="myFunction(this)">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                                <div class="dropdown-content">
                                    <a href="#">{{classroom.host}}</a>
                                    <a href="#">Delete</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class='card-tail'>
                        <img src="{% static 'images/people.png' %}" alt="">
                        <h4>{{ classroom.students.count }} Students</h4>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</div>

<script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
</script>

{% endblock content %}