{% extends "account/base.html" %}
{% load static %}

{% block content %}

<div class='answers'>

    <div class='answer_div'>
        <div class="answer_area">
            <h2 class='heading'>Question: {{ assignment.question }}</h2>
            <h2 class='heading' style='margin-bottom: 0'>Answer:</h2>
            <div class='answer_input'>
                <form method="post" action="{% url 'add_answer' pk=assignment.id %}" class="loginform">
                    {% csrf_token %}
                    {{form.answer}}
                    <button type="submit",name="save" class="button" ><span>Post Assignment</span></button>
                </form>
            </div>
        </div>
        <div class='answer_desc'>
            <h2 class='heading'>2 Answers</h2>
            <div>
                <h3>Status: {{ assignment.status }}</h3>
                <h3>Due date: {{ assignment.due_date }}</h3>
                <h3>Time: {{ assignment.due_time }}</h3>
            </div>
        </div>
    </div>
    
    <div class='answer_given'>
        <h1 class='answers_heading'>Submitted Answers</h1>
        <div class='answer_list'>
            {% for answer in answers %}
                <div class='answer'>
                    <div class='answer_header'>
                        <p class='tag'>{{answer.created_on}}</p>
                        <p class='tag'>Submitted by {{answer.student}}</p>
                    </div>
                    <p class='answer_name'>{{answer.answer}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    var inputs = document.getElementsByTagName('input').type='text';
    for (var i = 0; i < inputs.length; i++) {
        inputs[i].type == "text"
    }
</script>
{% endblock %}