@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body{
    margin: 0;
    margin-top: 80px;
    background-color: white;
}
.navbar{
    background-color: #534292;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.navbar > .title{
    margin-left: 30px;
    text-decoration: none;
    font-family: 'Sono', sans-serif;
    font-weight: 700;
    font-size:40px;
}
.navbar > .title > a{
    text-decoration: none;
    color: white;
}
.navbar > .buttons > span > a{
    margin-right: 30px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    font-size:x-large;
}

.messages{
    background-color:#4a924b;
    height:50px;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    font-size: medium;
    display: flex;
    justify-content: center;
}

.messages > ul{
    list-style-type:none;
}

.centereddiv{
    margin-top: 2%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white ;
    color:#534292;
    border: none;
    margin-left: 30%;
    box-shadow: 2px 2px 7px white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.centereddiv > p{
    font-family: 'Radio Canada', sans-serif;
}

.google{
    background-color: white;
    border-radius: 30px;
    border-width: 2px;
    border-color: #4a924b;
    border: solid;
    height: 10%;
}

.loginform{
    display:grid;
}
.loginform > label{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.loginform > input{
    margin-bottom: 20px;
    width: 100%;
    height:100%;
    outline: none;
    border: none;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(20, 104, 222); 
}

a{
    text-decoration: none;
    color:rgb(50, 154, 239);
}

.loginform > button{
    width: 25%;
    margin-top: 20px;
    margin-left: 0%;
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: #534292;
    color:white;
}

.buttonHolder > button{
    width: 25%;
    margin-top: 20px;
    margin-left: 0%;
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: #534292;
    color:white;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 30px;
    height: 10%;
}

.heading {
    color: #534292;
    font-size: xx-large;
    font-family: 'Acme', sans-serif;
}

.createbutton {
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #534292;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 300px;
}

.class {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 20px;
    background-color: #74BDE0;
    height: 45%;
    border-top: 3px solid #534292;
}

.classes {
    display: grid;
    grid-auto-flow: column;
    overflow: scroll;
    justify-content: flex-start;
}

::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fef7eb;
    border: 5px solid #534292;
    height: 280px;
    width: 320px;
    margin-right: 20px;
    border-radius: 12px;
    justify-content: space-between;
}

.card-header {
    border-bottom: 1px solid black;
    padding: 20px 20px;
}

.card-name {
    font-family: 'Sono', sans-serif;
    margin: 0 0 10px 0;
}

.card-info {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 0;
    color: grey;
}

.card-tail{
    display: flex;
    height: 50px;
    padding-left: 20px;
    align-items: center;
}

.card-tail > h4 {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 10px;
    height: 10px;
    margin-top: 18px;
}
.card-tail > img {
    height: 60%;
    width: auto;
}